[mysqld]
# Desactivar logs binarios para ahorrar espacio en disco (vital para los 6M de registros)
disable_log_bin = 1

# Permitir carga masiva desde archivos locales (Punto 8)
local_infile = 1

# Tamaño inicial del Buffer Pool (Puntos 14 y 15) - 256 MB para pruebas iniciales
innodb_buffer_pool_size = 268435456

# Codificación estándar
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[client]
loose-local-infile = 1
